<div class="post-card">
    <a href="/research#researcharea">
        {% if area.image %}
          <figure class="post-card__thumb" style="margin-bottom: 5px; border-radius: 1.1em;">
            <img src="/assets/pubpic/{{ area.image }}" alt="{{ area.title }}">
          </figure>
        {% else %}
          <figure class="post-card__thumb">
            <div class="dark-bg"></div>
          </figure>
        {% endif %}
    </a>

    <div class="post-card__header">
        <h4>{{ area.title }}</h4>
    </div>

    {% if area.display %}
        <p><em>{{ area.display }}</em></p>
    {% endif %}

    {% if area.authors %}
        <p>{{ area.authors }} ({{ area.year }})</p>
    {% endif %}

    <div class="pub-links">
        {% if area.link.url %}
            <strong><a href="{{ area.link.url }}" target="_blank" rel="noopener noreferrer">[link]</a></strong>
        {% endif %}
        {% if area.appendix %}
            <strong><a href="{{ area.appendix }}">[appendix]</a></strong>
        {% endif %}
        {% if area.map %}
            <strong><a href="{{ area.map }}" target="_blank" rel="noopener noreferrer">[map]</a></strong>
        {% endif %}
    </div>
</div>
