  .postcard1 {
    display: block;
    position: relative;
    width: 32.33%;
    height: 32.33%;
    min-height: 32.33%;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0px 0px #fff;
    margin-bottom: 4rem;
    margin-right: 1.0%;
    border-bottom: 2rem;
    transition: box-shadow 0.0s ease; }
    .postcard1:hover, .postcard1:focus {
      border-bottom: 0;
      box-shadow: 0 0px 0px #fff; }



    .postcard1__label {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      z-index: 2; }
    .postcard1__inner {
      text-align: right;
      display: block;
      position: relative;
      margin-top: 0em;
      margin-bottom: 0em;
      padding: 0.25rem 1.25rem 0.25rem;
      width: 100%;
      color: #838c8d;
      border-bottom: 0; }
      .postcard1__inner:focus, .postcard1__inner:hover {
        color: #838c8d;
        border-bottom: 0; }
    .postcard1__header {
      margin-bottom: 0rem; }
    .postcard1__meta {
      font-size: 0.875rem; }
  
  .postcard1__thumb {
    margin: 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    width: 100%
    height: 0;
    padding-bottom: 100%; }
    .postcard1__thumb::after {
      content: "";
      display: block;
      height: 0;
      width: 100%; }
    .postcard1__thumb > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block; }
