---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h2 class="hero__title">{{ site.title | escape }}</h2>
        <p class="hero__meta">Lab for Architectural & Urban Space<br> <!-- Bumjoon put the following 3 lines -->
        서울대학교 공과대학 건축학과<br>
        Department of Architecture & Architectural Engineering, College of Engineering, Seoul National University</p>
        <!--<p class="hero__meta">{{ site.tagline }}</p>--> <!-- Uncomment this to go back to original code -->
      </div>
    </div>

    <main class="site__content">
      
      <div class="container">  <!-- Bumjoon put 5 lines from here -->
        <div class="page-content">
          {{ content }}
        </div>
      </div>      
      
      <!-- Uncomment to go back : <section class="blog"> 
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %}
          </div>
        </div>
      </section>
      -->

    </main>

    {% include footer.html %}

  </body>

</html>
